body {
height: 100%;
  margin: 0 auto;
  background-color: white;
  font-family: arial, sans-serif;
  font-size: small;
}
#form {
  position: absolute;
  top: 200px;
  left:360px;
  }
  #textbox {
  height:40px;
  line-height: 34px;
  margin: -1px 0px 1px;
  width: 584px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  background-color: #fff;
  border: none;
  border-radius: 2px;
}
#button {
margin: 10px 0 10px 140px;
  }
.button {
  background-color: #f2f2f2;
  border-radius: 2px;
  font-size: 13px;
  font-weight: bold;
  color: #757575;
  margin: 11px 4px;
  padding: 0 16px;
  text-align: center;
  height: 36px;
  border: none;
  margin-top: 20px;
}
.button:hover {
  border-style: solid;
  border-width: thin;
  border-color: #E1E1E1;
  font-weight: bold;
  color: black;
  font-size: 13px;
}
#lang {
  margin-left: 5px;
  margin-top: 20px;
}
#country {
  color: #4285f4;
  font: 16px/16px roboto-regular, arial, sans-serif;
  left: 215px;
  position: relative;
  top: -20px;
}
#logo {
  margin-left: 150px;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: #1a0dab;
  padding: 0 3px;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}
#footerleft {
  position: fixed;
  bottom: 0;
  margin-left: -30px;
}
#footerright {
  position: fixed;
  bottom: 0;
  right:30px;
  }
#footer {
  display: block;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  border-top: solid 1px #e4e4e4;
  }
ul {
  list-style: none;
  }
li {
  display: inline;
  color: #666666;
  margin-left: 20px;
}
.footer {
  color: #666666;
}
.top {
  color: #222;
  }
#topleft {
  position: fixed;
  right: 160px;
  top: 18px;
  }
#topright {
    position: fixed;
    right: 20px;
    top: 8px;
    }
#profile {
    height: 30px; width: 30px;
		border-radius: 50%;
    margin-left: 15px;
    position: relative;
    top: 4px;
}
#apps {
  margin-left: 15px;
  position: relative;
  top: -1px;
}
